
  <form class="form" ng-submit="add()">
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Cuán satisfecho estás en general con tu trabajo?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_1" id="respuesta_1_1" ng-value=1 ng-model="form.scores[0]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_1" id="respuesta_1_2" ng-value=2 ng-model="form.scores[0]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_1" id="respuesta_1_3" ng-value=3 ng-model="form.scores[0]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_1" id="respuesta_1_4" ng-value=4 ng-model="form.scores[0]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_1" id="respuesta_1_5" ng-value=5 ng-model="form.scores[0]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Cuán satisfecho estás con la división entre el tiempo que utilizas en el trabajo y el tiempo que compartes con otras áreas de tu vida?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_2" id="respuesta_2_1" value="1" ng-model="form.scores[1]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_2" id="respuesta_2_2" value="2" ng-model="form.scores[1]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_2" id="respuesta_2_3" value="3" ng-model="form.scores[1]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_2" id="respuesta_2_4" value="4" ng-model="form.scores[1]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_2_5" value="5" ng-model="form.scores[1]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Mientras estás en el trabajo, cuando tiempo pasas muy concentrado en tus labores o en algún proyecto?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_3_1" value="1" ng-model="form.scores[2]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_3_2" value="2" ng-model="form.scores[2]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_3_3" value="3" ng-model="form.scores[2]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_3_4" value="4" ng-model="form.scores[2]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_3" id="respuesta_3_5" value="5" ng-model="form.scores[2]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Mientras estás en el trabajo, que porcentaje de tiempo disfrutas lo que haces?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_4" id="respuesta_4_1" value="1" ng-model="form.scores[3]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_4" id="respuesta_4_2" value="2" ng-model="form.scores[3]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_4" id="respuesta_4_3" value="3" ng-model="form.scores[3]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_4" id="respuesta_4_4" value="4" ng-model="form.scores[3]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_4" id="respuesta_4_5" value="5" ng-model="form.scores[3]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Mientras estás en el trabajo, que porcentaje de tiempo sientes frustración?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_5" id="respuesta_5_1" value="1" ng-model="form.scores[4]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_5" id="respuesta_5_2" value="2" ng-model="form.scores[4]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_5" id="respuesta_5_3" value="3" ng-model="form.scores[4]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_5" id="respuesta_5_4" value="4" ng-model="form.scores[4]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_5" id="respuesta_1_5" value="5" ng-model="form.scores[4]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Mientras estás en el trabajo, que porcentaje de tiempo sientes aburrimiento con tus labores?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_6" id="respuesta_6_1" value="1" ng-model="form.scores[5]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_6" id="respuesta_6_2" value="2" ng-model="form.scores[5]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_6" id="respuesta_6_3" value="3" ng-model="form.scores[5]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_6" id="respuesta_6_4" value="4" ng-model="form.scores[5]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_6" id="respuesta_6_5" value="5" ng-model="form.scores[5]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Dirías que te sientes feliz en tu trabajo?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_7" id="respuesta_7_1" value="1" ng-model="form.scores[6]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_7" id="respuesta_7_2" value="2" ng-model="form.scores[6]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_7" id="respuesta_7_3" value="3" ng-model="form.scores[6]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_7" id="respuesta_7_4" value="4" ng-model="form.scores[6]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_7" id="respuesta_7_5" value="5" ng-model="form.scores[6]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Dirías que ejerces control sobre los aspectos importantes de tu trabajo?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_8" id="respuesta_8_1" value="1" ng-model="form.scores[7]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_8" id="respuesta_8_2" value="2" ng-model="form.scores[7]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_8" id="respuesta_8_3" value="3" ng-model="form.scores[7]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_8" id="respuesta_8_4" value="4" ng-model="form.scores[7]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_8" id="respuesta_8_5" value="5" ng-model="form.scores[7]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Dirías que el trabajo que haces vale la pena?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_9" id="respuesta_9_1" value="1" ng-model="form.scores[8]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_9" id="respuesta_9_2" value="2" ng-model="form.scores[8]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_9" id="respuesta_9_3" value="3" ng-model="form.scores[8]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_9" id="respuesta_9_4" value="4" ng-model="form.scores[8]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_9" id="respuesta_9_5" value="5" ng-model="form.scores[8]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label class="col-md-6 col-md-offset-1 control-label">
        ¿Dirías que sientes motivado a poner lo mejor de ti en tu trabajo?
      </label>
      <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="respuesta_10" id="respuesta_10_1" value="1" ng-model="form.scores[9]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_10" id="respuesta_10_2" value="2" ng-model="form.scores[9]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_10" id="respuesta_10_3" value="3" ng-model="form.scores[9]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_10" id="respuesta_10_4" value="4" ng-model="form.scores[9]"> -
            </label>
            <label class="radio-inline">
              <input type="radio" name="respuesta_10" id="respuesta_10_5" value="5" ng-model="form.scores[9]"> -
            </label>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-md-12 col-md-offset-1">
      <button class="btn btn-warning" type="submit">Aceptar</button>
    </div>
  </form>
