
<div class="bg-light lter b-b wrapper-md ng-scope">
  <!-- <span class="text-md text-muted pull-right  text-center">
    <i class="fa fa-star m-r-xs"></i> 3 votos restantes
  </span> -->

  <h1 class="m-n font-thin h3"><i class="icon-graph"></i> Perfil de Empresa</h1>
</div>


<!-- CONTENIDO -->




<div class="wrapper-md ng-scope" >
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-heading wrapper b-b b-light text-center">

          <span class="h3 font-thin">ÁREAS</span><br><br>


          <div class="input-group">
            <input type="text" class="input-sm form-control" placeholder="Agregar Área" ng-model="newArea.name">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="addArea()"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </div>

        <div class="list-group">
          <a herf="" class="list-group-item clearfix" ng-repeat="area in company.areas">
            <span class="pull-left m-r">
              <div class="h2 text-light text-muted font-thin text-center">35</div>
              <!-- <span class="text-muted text-xs">Personas</span> -->
            </span>
            <span class="clear">
              <span class="pull-right m-t-sm btn btn-xs btn-info"><i class="fa fa-pencil"></i></span>
              <span class="pull-right m-t-sm ">&nbsp;</span>
              <span class="pull-right m-t-sm btn btn-xs btn-danger"><i class="fa fa-trash"></i></span>
              <span>{{area.name}}</span>
              <small class="text-muted clear text-ellipsis">{{area.description}}</small>
            </span>
          </a>
        </div>

      </div>
    </div>



    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-heading wrapper b-b b-light text-center">

          <span class="h3 font-thin">ROLES</span><br><br>

          <div class="input-group">
            <input type="text" class="input-sm form-control" placeholder="Agregar Rol">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </div>

        <div class="list-group">
          <a herf="" class="list-group-item clearfix" ng-repeat="role in company.roles">
            <span class="pull-left m-r">
              <div class="h2 text-light text-muted font-thin text-center">7</div>
              <!-- <span class="text-muted text-xs">Personas</span> -->
            </span>
            <span class="clear">
              <span class="pull-right m-t-sm btn btn-xs btn-info"><i class="fa fa-pencil"></i></span>
              <span class="pull-right m-t-sm ">&nbsp;</span>
              <span class="pull-right m-t-sm btn btn-xs btn-danger"><i class="fa fa-trash"></i></span>
              <span>{{role.name}}</span>
              <small class="text-muted clear text-ellipsis">{{role.description}}</small>
            </span>
          </a>
        </div>

      </div>
    </div>


  </div>
</div>


<!-- footer -->
<footer id="footer" class="app-footer" role="footer">
  <div class="wrapper b-t bg-light">
    <span class="pull-right">Fostering Talent System</span>
    &copy; 2015
  </div>
</footer>
<!-- / footer -->



</div>
