<div class="aside-wrap">
  <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
  <div class="navi-wrap">
    <!-- nav -->
    <nav ui-nav class="navi clearfix">
      <!-- list -->
      <ul class="nav" ng-if=" url == '/scores-1' || url == '/scores-2' || url == '/scores-3' ">

        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          <span translate="aside.nav.components.COMPONENTS">Paginas</span>
        </li>
        <li>
          <a href="#/scores-1" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <span>Compromiso del Empleado</span>
          </a>
        </li>
        <li>
          <a href="#/scores-2" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <span>KPI's</span>
          </a>
        </li>
        <li>
          <a href="#/scores-3" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <span>Detalle por persona</span>
          </a>
        </li>
      </ul>
      <!-- / list -->

    </nav>
    <!-- nav -->
  </div>
</div>
