<div class="aside-wrap">
  <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
    -->


    <div class="navi-wrap">
      <!-- nav -->
      <!-- MENU REPORTES -->
      <nav ui-nav class="navi clearfix" ng-if=" url == '/scores-1' || url == '/scores-2' || url == '/scores-3' ">
        <!-- list -->
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span translate="aside.nav.components.COMPONENTS">Reportes</span>
          </li>
          <li>
            <a href="#/scores-1" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <span>Compromiso</span>
            </a>
          </li>
          <li>
            <a href="#/scores-2" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-cog"></i>
              <span>KPI's</span>
            </a>
          </li>
          <li>
            <a href="#/scores-3" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-user"></i>
              <span>Individual</span>
            </a>
          </li>
        </ul>
        <!-- / list -->
      </nav>
      <!-- nav -->

          <div class="navi-wrap">
      <!-- nav -->
      <!-- MENU REPORTES -->
      <nav ui-nav class="navi clearfix" ng-if=" url == '/ed-scores-1' || url == '/ed-scores-2' || url == '/ed-scores-3' ">
        <!-- list -->
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span translate="aside.nav.components.COMPONENTS">Reportes</span>
          </li>
          <li>
            <a href="#/ed-scores-1" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="fa fa-sitemap"></i>
              <span>Individual</span>
            </a>
          </li>
          <li>
            <a href="#/ed-scores-2" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-user"></i>
              <span>Globales</span>
            </a>
          </li>
        </ul>
        <!-- / list -->
      </nav>
      <!-- nav -->


      <!-- MENU USUARIOS -->
      <nav ui-nav class="navi clearfix" id="usersMenu" ng-if=" url == '/users' ">


        <br>
        <a href="#/user/add" class="auto">
          <button class="btn m-b-xs btn-sm btn-info btn-addon m-l m-r"><i class="glyphicon glyphicon-plus"></i>Agregar Usuario</button>
        </a>

        <!-- list -->
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span translate="aside.nav.components.COMPONENTS">Usuarios</span>
          </li>
          <li>
            <a href="#/users" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-user"></i>
              <span>Lista</span>
            </a>
          </li>
        </ul>
        <!-- / list -->
      </nav>
      <!-- nav -->


      <!-- MENU EMPRESAS -->
      <nav ui-nav class="navi clearfix" id="usersMenu" ng-if=" url == '/companies' && user.superadmin">

        <br>
        <a href="#/companies/add" class="auto">
          <button class="btn m-b-xs btn-sm btn-info btn-addon m-l m-r"><i class="glyphicon glyphicon-plus"></i>Agregar Empresa</button>
        </a>

        <!-- list -->
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span translate="aside.nav.components.COMPONENTS">Empresas</span>
          </li>
          <li>
            <a href="#/companies" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="glyphicon glyphicon-globe"></i>
              <span>Lista</span>
            </a>
          </li>
        </ul>
        <!-- / list -->
      </nav>
      <!-- nav -->

      <!-- MENU PERFIL -->
      <nav ui-nav class="navi clearfix" id="miempresaMenu" ng-if=" url == '/organigrama' || url == '/competencias' || url == '/areasyroles' || url == '/companies' ">
        <!-- list -->
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span translate="aside.nav.components.COMPONENTS">Mi Empresa</span>
          </li>
          <li>
            <a href="#/company/{{company._id}}" class="auto">
              <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
              </span>
              <i class="fa fa-building-o"></i>
              <span>Editar Perfil</span>
            </a>
          </li>
        </ul>
        <!-- / list -->
      <!-- MENU configuracion -->
      <!-- list -->
      <ul class="nav">
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          <span translate="aside.nav.components.COMPONENTS">Configuración</span>
        </li>
        <li>
          <a href="#/areasyroles" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cubes"></i>
            <span>Áreas y Roles</span>
          </a>
        </li>
        <li>
          <a href="#/organigrama" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-sitemap"></i>
            <span>Organigrama</span>
          </a>
        </li>
        <li>
          <a href="#/competencias" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-tasks"></i>
            <span>Competencias</span>
          </a>
        </li>
      </ul>
      <!-- / list -->
    </nav>
    <!-- nav -->


    <!-- MENU ASSESSMENTS -->
    <nav ui-nav class="navi clearfix" id="assessmentsMenu" ng-if=" url == '/' ">
      <!-- list -->
      <ul class="nav">
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          <span translate="aside.nav.components.COMPONENTS">Herramientas</span>
        </li>
        <li>
          <a href="#/" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-list-alt"></i>
            <span>Lista</span>
          </a>
        </li>
      </ul>
      <!-- / list -->
    </nav>
    <!-- nav -->

    <!-- MENU HALL OF FAME -->
    <nav ui-nav class="navi clearfix" ng-if=" url == '/hall-of-fame' || url == '/reconocimientos' ">


      <!-- list -->
      <ul class="nav">
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          <span>Reconocimientos</span>
        </li>




        <li>
          <a href="#/reconocimientos" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-star"></i>
            <span>Reconocimientos</span>
          </a>
        </li>

        <li class="active">
          <a href="#/hall-of-fame" class="auto">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon glyphicon-king"></i>
            <span>Salón de la Fama</span>
          </a>
          <ul class="nav nav-sub dk" style="display: block;">
            <li class="nav-sub-header">
              <a href="">
                <span>Salón de la Fama</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="pull-right"><i class="fa fa-circle text-warning text-xs"></i></span>
                <span>Salón de Oro</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="pull-right"><i class="fa fa-circle text-black text-xs"></i></span>
                <span>Salón de Plata</span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="pull-right"><i class="fa fa-circle text-light text-xs  "></i></span>
                <span>Salón de Bronce</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
      <!-- / list -->

    </nav>
    <!-- nav -->




  </div>
</div>
