<div class="page-header">
  <h1>Resultados</h1>
</div>
<div class="jumbotron text-center" ng-show="processing">
  <span class="glyphicon glyphicon-repeat spinner"><p>Loading Users</p></span>
</div>
<table>
  <thead>
    <tr>
      <th class="col-md-1">Usuario</th>
      <th class="col-md-1">Admin</th>
      <th class="col-md-1">Gerencia</th>
      <th class="col-md-1">Rol</th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in users">
      <td class="col-md-1">{{person.username}}</td>
      <td class="col-md-1">{{person.admin}}</td>
      <td class="col-md-1">{{person.area}}</td>
      <td class="col-md-1">{{person.role}}</td>
      <td class="col-md-1">
        <a href="#/scores/{{person._id}}" class="btn btn-danger">Ver Resultado</a>
      </td>
    </tr>
  </tbody>
</table>
