
<div class="bg-light lter b-b wrapper-md ng-scope">
  <!-- <span class="text-md text-muted pull-right  text-center">
    <i class="fa fa-star m-r-xs"></i> 3 votos restantes
  </span> -->

  <h1 class="m-n font-thin h3"><i class="icon-graph"></i> Evaluación de Desempeño</h1>
</div>


<!-- CONTENIDO -->

<div class="wrapper-md">
	<!-- EMPRESAS -->
	<div class="row">

    <div class="col-md-12">
      <div class="row">

        <!-- AGREGAR -->
        <div class="col-md-4">
          <div class="panel b-a" style="height: 305px;">
            <div class="hbox text-center b-t b-light">          
              <a href="" class="col padder-v text-muted b-r b-light" style="vertical-align:middle; text-align:center;">
                <div class="h1"><i class="icon-plus"></i></div>
                <span>Agregar Competencia</span>
              </a>
            </div>
          </div>
        </div>
        
        <!-- LIST -->
        <div class="col-md-4" >
          <div class="panel b-a" style="height: 305px;">
            <div class="panel-heading b-b">
              <b>Competencia 1</b>
              <!-- <label class="label bg-info m-l-xs">Editor</label>  -->
              <i class="fa fa-pencil pull-right text-muted "></i>
              
            </div>
            <div class="panel-body">
              
              <div class="">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
            </div>
            <div class="panel-footer">
              <div class="">
                <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right">Guardar</button>
              </div>
              <span class="text-muted m-l-sm pull-left">
                <!-- <i class="fa fa-clock-o"></i> -->
                Recursos Humanos
              </span>
<!-- 
              <div class="chosen-container chosen-container-multi" title=""><ul class="chosen-choices"><li class="search-field"><input type="text" value="Select Some Options" class="default" autocomplete="off" style="width: 147px;"></li></ul><div class="chosen-drop"><ul class="chosen-results"><li class="active-result" data-option-array-index="0">Alaska</li></ul></div></div>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
