<div class="bg-light lter b-b wrapper-md">
	<!-- PARA ADMIN -->
	<h1 class="m-n font-thin h3" ng-if="user.admin && loggedIn">
		<i class="icon-home"></i> Todos las Herramientas
	</h1>

	<!-- PARA USUARIOS -->
	<h1 class="m-n font-thin h3" ng-if="!user.admin && loggedIn">
		<i class="icon-home"></i> Mis Proyectos
	</h1>
</div>
<div class="wrapper-md">
	
	<!-- PARA ADMIN -->
	<div class="list-group list-group-lg list-group-sp" ng-if="user.admin && loggedIn">
		<a href="#/scores-1" class="list-group-item clearfix border-left"  style="box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
			<h1 class="m-n h3 text-black">Clima Laboral</h1>
			<small class="text-muted clear">Started Wed. March 5, 2015</small>
		</a>

		<br>

		<a href="#/reconocimientos" class="list-group-item clearfix border-left"  style="box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
			<h1 class="m-n h3 text-black">Reconocimientos</h1>
			<small class="text-muted clear">Started Fri. October 21, 2015</small>
		</a>

		<br>

		<a href="#/organigrama" class="list-group-item clearfix border-left"  style="box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
			<h1 class="m-n h3 text-black">Evaluación de Desempeño</h1>
			<small class="text-muted clear">Started Mon. November 18, 2015</small>
		</a>

		<br>

		<a href="" class="list-group-item clearfix border-left"  style="box-shadow: 0 1px 1px rgba(0,0,0,0.05); opacity: 0.75;">
			<h1 class="m-n h3">Bienestar Organizacional</h1>
			<small class="text-muted clear">Started Wed. July 15, 2015</small>
		</a>
	</div>

	<!-- PARA USUARIOS -->
	<div class="list-group list-group-lg list-group-sp" ng-if="!user.admin && loggedIn">

		<a href="#/questions/{{user._id}}" class="list-group-item clearfix border-left" style="box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
			
			<!-- TEXTO IZQUIERDA -->			
			<div class="col-xs-8">
				<span class="h3 m-t-xs m-b-xs text-black">Clima Laboral</span>
				<small class="text-muted clear">Started Wed. March 5, 2015</small>
				<br>
				<button class="btn btn-sm btn-primary padder-md m-b">Tomar Evaluación</button>
			</div>

			<!-- PORCENTAJE -->
			<!-- <div class="col-xs-4 text-center">
				<div ui-jq="easyPieChart" ui-options="{
		                      percent: 75,
		                      lineWidth: 10,
		                      trackColor: '#e8eff0',
		                      barColor: '#fad733',
		                      scaleColor: '#e8eff0',
		                      size: 188,
		                      lineCap: 'butt'
		                    }" class="easyPieChart" style="width: 90px; height: 90px; line-height: 90px;">
					<div>
						<span class="h2 m-l-sm step">75</span>%
						<div class="text text-sm">completado</div>
					</div>
					<canvas width="90" height="90"></canvas>
				</div>
			</div>-->
		</a>

		<br>

		<a href="#/ed" class="list-group-item clearfix border-left" style="box-shadow: 0 1px 1px rgba(0,0,0,0.05);">
			
			<!-- TEXTO IZQUIERDA -->			
			<div class="col-xs-8">
				<span class="h3 m-t-xs m-b-xs text-black">Evaluación de Desempeño</span>
				<small class="text-muted clear">Started Wed. March 5, 2015</small>
				<br>
				<button class="btn btn-sm btn-primary padder-md m-b">Tomar Evaluación</button>
			</div>

			<!-- PORCENTAJE -->
			<!-- <div class="col-xs-4 text-center">
				<div ui-jq="easyPieChart" ui-options="{
		                      percent: 75,
		                      lineWidth: 10,
		                      trackColor: '#e8eff0',
		                      barColor: '#fad733',
		                      scaleColor: '#e8eff0',
		                      size: 188,
		                      lineCap: 'butt'
		                    }" class="easyPieChart" style="width: 90px; height: 90px; line-height: 90px;">
					<div>
						<span class="h2 m-l-sm step">75</span>%
						<div class="text text-sm">completado</div>
					</div>
					<canvas width="90" height="90"></canvas>
				</div>
			</div>-->
		</a>

		<br>

		<a href="" class="list-group-item clearfix border-left" style="box-shadow: 0 1px 1px rgba(0,0,0,0.05); opacity: 0.75;">
			
			<!-- TEXTO IZQUIERDA -->			
			<div class="col-xs-8">
				<span class="h3 m-t-xs m-b-xs text-black">Bienestar Organizacional</span>
				<small class="text-muted clear">Started Mon. October 15, 2015</small>
				<br>
				<button class="btn btn-sm btn-primary padder-md m-b">Tomar Evaluación</button>
			</div>

			<!-- PORCENTAJE -->
			<!-- <div class="col-xs-4 text-center">
				<div ui-jq="easyPieChart" ui-options="{
		                      percent: 75,
		                      lineWidth: 10,
		                      trackColor: '#e8eff0',
		                      barColor: '#fad733',
		                      scaleColor: '#e8eff0',
		                      size: 188,
		                      lineCap: 'butt'
		                    }" class="easyPieChart" style="width: 90px; height: 90px; line-height: 90px;">
					<div>
						<span class="h2 m-l-sm step">75</span>%
						<div class="text text-sm">completado</div>
					</div>
					<canvas width="90" height="90"></canvas>
				</div>
			</div>-->
		</a>
	</div>


</div>
