<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-puzzle"></i>Evaluación de Desempeño</h1>
</div>
<div class="wrapper-md">
  <div class="jumbotron text-center" ng-if="processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
  </div>
  <div class="row" ng-if="!processing">
    <div class="col-md-12">


      <div class="panel r no-shadow item hbox no-border">
        <div class="panel-body">
          <h2 class="m-t-none text-primary">Evaluación de Desempeño</h2>
          <div>
            <p>Como líder de tu equipo, debes hacer la evaluación de desempeño de cada una de las personas que conforman tu equipo.
              <br>Elige, a continuación, a quién deseas evaluar esta vez: <br><br>
            </div>
            
            <div class="list-group b-info">
              <a href="" class="list-group-item clearfix b-info">
                <span class="pull-right"><i class="fa fa-clock-o fa-2x text-info m-t-xs"></i></span>
                <span class="pull-left thumb-sm avatar m-r">
                  <img src="img/a1.jpg" alt="...">
                  <!-- <i class="on b-white right"></i> -->
                </span>
                <span class="clear">
                  <span>Federico Calderón</span>
                  <small class="text-muted clear text-ellipsis">Escriba de Recursos Humanos</small>
                </span>
              </a>

              <a href="" class="list-group-item clearfix " >
                <span class="pull-right badge bg-success inline m-t-sm">78 %</span>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <span class="pull-right"><i class="fa fa-check fa-2x text-success m-t-xs"></i></span>
                <span class="pull-left thumb-sm avatar m-r">
                  <img src="img/a2.jpg" alt="...">
                  <!-- <i class="on b-white right"></i> -->
                </span>
                <span class="clear">
                  <span>Martín Ríos</span>
                  <small class="text-muted clear text-ellipsis">Pasante de Recursos Humanos</small>
                </span>
              </a>

              <a href="" class="list-group-item clearfix " >
              <!-- <span class="pull-right badge bg-success inline m-t-sm">78 %</span>
              <span class="pull-right">&nbsp;&nbsp;&nbsp;</span> -->
              <span class="pull-right"><i class="fa fa-clock-o fa-2x text-danger m-t-xs"></i></span>
              <span class="pull-left thumb-sm avatar m-r">
                <img src="img/a3.jpg" alt="...">
                <!-- <i class="on b-white right"></i> -->
              </span>
              <span class="clear">
                <span>Julieta Valls</span>
                <small class="text-muted clear text-ellipsis">Asistente de Recursos Humanos</small>
              </span>
            </a>
          </div>

           <!--  <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">Admin</a>
              <i class="fa fa-clock-o text-muted"></i> Feb 15, 2013
              <a href="" class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 4 comments</a>
            </div> -->
          </div>

        </div>
      </div>



      <div class="col-md-12">

        <div class="tab-container ng-isolate-scope" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">
          <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
            <li ng-class="{active: active, disabled: disabled}" heading="Step 1" active="steps.step1" select="steps.percent=10" class="ng-isolate-scope active">
              <a href="" ng-click="select()" tab-heading-transclude="" class="ng-binding ng-click-active">Paso 1</a>
            </li>
            <li ng-class="{active: active, disabled: disabled}" heading="Step 2" disabled="disabled" active="steps.step2" select="steps.percent=30" class="ng-isolate-scope disabled">
              <a href="" ng-click="select()" tab-heading-transclude="" class="ng-binding">Paso 2</a>
            </li>
          </ul>
          <div class="tab-content">


            Texto que explique rápidamente cómo evaluar los objetivos.
            <br><br>

            <!-- OBJETIVOS -->
            <div class="panel b-a b-primary" style="height: 200px;">
              <div class="panel-heading b-b bg-primary h4 font-bold">
                <div class="pull-right badge bg-white">
                      40%
                    </div>
                <span>Objetivo 1</span>
                <!-- <label class="label bg-info m-l-xs">Editor</label>  -->
              </div>
              <div class="panel-body">
                <div class="col-md-11">
                  <div class="r bg-light dker item hbox no-border">
                    <div class="col-md-12">
                      <br>
                      <i class="fa fa-pencil pull-right text-black "></i>
                      <span class="">Escribe aquí la descripción del objetivo.</span><br><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                </div>
              </div>
              <div class="panel-footer">
                <div class="">
                  <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right">Guardar</button>
                </div>
                <span class="text-muted m-l-sm pull-left">
                  <!-- <i class="fa fa-clock-o"></i> -->
                  Recursos Humanos
                </span>
              </div>
            </div>


            <div class="panel b-a b-primary" style="height: 200px;">
              <div class="panel-heading b-b bg-primary h4 font-bold">
                <div class="pull-right badge bg-white">
                      60%
                    </div>
                <span>Objetivo 2</span>
                <!-- <label class="label bg-info m-l-xs">Editor</label>  -->
              </div>
              <div class="panel-body">
                <div class="col-md-11">
                  <div class="r bg-light dker item hbox no-border">
                    <div class="col-md-12">
                      <br>
                      <i class="fa fa-pencil pull-right text-black "></i>
                      <span class="">Escribe aquí la descripción del objetivo.</span><br><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                </div>
              </div>
              <div class="panel-footer">
                <div class="">
                  <button class="btn m-b-xs btn-sm btn-primary btn-addon pull-right">Guardar</button>
                </div>
                <span class="text-muted m-l-sm pull-left">
                  <!-- <i class="fa fa-clock-o"></i> -->
                  Recursos Humanos
                </span>
              </div>
            </div>



            <div class="panel b-a b-light" style="height: 100px;">
              <div class="hbox text-center b-t b-light">
                <a href="" class="col padder-v text-muted b-r b-light" style="vertical-align:middle; text-align:center;">
                  <div class="h1"><i class="icon-plus"></i></div>
                  <span>Agregar Objetivo</span>
                </a>
              </div>
            </div>

            <div class="panel b-a b-dark" style="">
              <div class="panel-heading b-b bg-light h4 font-bold">
                <div class="pull-right badge bg-dark text-white">
                      100%
                    </div>
                <span>Suma Total</span>
              </div>
            </div>



          </div>
        </div>
      </div>



      <!-- <div class="col-md-12" >
        <div class="panel panel-default">
        <div class="panel-heading font-bold">
          Leyendas: TD (Totalmente de acuerdo) - D (De acuerdo) - N (Ni de acuerdo ni en desacuerdo) - D (En desacuerdo) - TD (Totalmente en desacuerdo)
        </div>
        <div class="panel-body">




          <form class="form" name="form" ng-submit="add()">

            <div class="form-group">
              <label class="col-md-6 control-label" ng-class="{'text-ellipsis':isDemo}">1. Si yo fuera cliente de <b>{{company}}</b>, estaría extremadamente satisfecho con la calidad de los productos y servicios que recibo.</label>


              <div class="col-md-6">

              </div>
            </div>


            <div class="line line-dashed b-b line-lg pull-in"></div>


            <div class="form-group col-md-4 col-md-offset-4">
              <button type="submit" class="btn btn-lg btn-info btn-block" ng-disabled='form.$invalid'>
                <span ng-if="!formProcessing">Guardar respuestas</span>
                <span ng-if="formProcessing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
              </button>
            </div>
          </form>

        </div>
      </div> -->


    </div>
  </div>
</div>
