<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" ng-if="!formUser._id"><i class="icon-users"></i> Crear Usuario</h1>
  <h1 class="m-n font-thin h3" ng-if="formUser._id"><i class="icon-users"></i> Editar Usuario</h1>
</div>


<div class="wrapper-md ng-scope">

  <div class="row">

    <!-- SUBIR FOTO SI ES NUEVO -->
    <div class="col-sm-3" ng-if="!formUser._id">
      <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
          Arrastra la Foto aquí.
      </div>
    </div>

    <!-- FOTO SI EDITA -->

    <div class="col-sm-3 text-center m-t" ng-if="formUser._id">
      <div class="thumb-xl">
        <img src="img/a0.jpg" class="img-circle" alt="...">
      </div>
      <br><br>
      <div class="h3 text-black">{{formUser.username}}</div>
      <small class="text-muted m-b font-bold">{{formUser.role}}</small>
      <br>
      <small class="text-muted m-b">{{formUser.area}}</small>
      <br><br>
    </div>

    <!-- FORMULARIO -->
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading font-bold" ng-if="!formUser._id">Crear Usuario</div>
        <div class="panel-heading font-bold" ng-if="formUser._id">Editar Usuario</div>
        <div class="panel-body">

          <form name="form" ng-submit="save(); sendMail()" class="form-validation form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">


            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">Nombre</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="name" placeholder="Ingrese el nombre de la persona" ng-model="formUser.name" required>
              </div>
            </div>



            <div class="form-group">
              <label class="col-sm-3 control-label" for="lastname">Apellido</label>
              <div class="col-sm-9">
                <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="lastname" placeholder="Ingrese el apellido de la persona" ng-model="formUser.lastname" required="" tabindex="0" aria-required="true" aria-invalid="true">
              </div>
            </div>


            <div class="line line-dashed b-b line-lg pull-in"></div>


            <div class="form-group">
              <label class="col-sm-3 control-label" for="username">Usuario</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="username" placeholder="Ingrese el nombre de usuario la persona" ng-model="formUser.username" required>
              </div>
            </div>



            <div class="form-group">
              <label class="col-sm-3 control-label" for="username">Password</label>
              <div class="col-sm-9">
                <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" placeholder="Ingrese el password de la persona" ng-model="formUser.password" required="" tabindex="0" aria-required="true" aria-invalid="true">
              </div>
            </div>
            
            <!-- ESTO HAY QUE HACERLO ANDAR! 
            <div class="form-group">
              <label class="col-sm-3 control-label" for="username">Confirmar</label>
              <div class="col-sm-9">
                <input type="password" class="form-control ng-pristine ng-untouched ng-valid-validator ng-invalid ng-invalid-required" name="confirm_password" placeholder="Ingrese nuevamente el password" required="" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " tabindex="0" aria-required="true" aria-invalid="true">
                <span ng-show="form.confirm_password.$error.validator" aria-hidden="true" class="ng-hide">Las Contraseñas no coinciden!</span>
              </div>
            </div>-->

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Correo Electrónico</label>
              <div class="col-sm-9">
                <input class="form-control" type="email" name="email"  placeholder="Ingrese el correo electrónico de la persona" ng-model="formUser.email" required>
                </div>
            </div>

            <!-- SÓLO SI AGREGA NUEVO USER -->
            <div class="form-group" ng-if="!formUser._id">
              <div class="col-sm-9 col-sm-offset-3">
                <label>
                <input type="checkbox" value="" checked="">
                Enviar invitación por email 
              </label>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div class="form-group">
              <label for="area" class="col-sm-3 control-label">Gerencia</label>
              <div class="col-sm-9">
                <select class="form-control" name="area" ng-model="formUser.area" ng-options="area for area in areas">
                <option value=''>- Seleccione la gerencia a la que pertenece -</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="role" class="col-sm-3 control-label">Rol</label>
              <div class="col-sm-9">
                <select class="form-control" name="role" ng-model="formUser.role" ng-options="role for role in roles">
                  <option value=''>- Seleccione el rol de la persona -</option>
                </select>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>


            <div class="form-group">
              <label class="col-sm-3 control-label">¿Es Adminsitrador?</label>
              <div class="col-sm-9">
                <input class="" type="checkbox" name="admin" ng-true-value="true" ng-false-value="false" ng-model="formUser.admin">
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in" ng-if="user.superadmin && loggedIn"></div>

            <div class="form-group" ng-if="user.superadmin && loggedIn">
              <label class="col-sm-3 control-label">¿Es SuperAdministrador?</label>
              <div class="col-sm-9">
                <input class="" type="checkbox" name="superadmin" ng-true-value="true" ng-false-value="false" ng-model="formUser.superadmin">
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled='form.$invalid'>
                  <span ng-if="!processing && !formUser._id">Crear</span>
                  <span ng-if="!processing && formUser._id">Guardar cambios</span>
                  <span ng-if="processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
                </button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  


