<div class="navbar-header bg-dark">
<!--   <button class="pull-right visible-xs dk" ui-toggle="show" target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
  </button> -->
  <button class="pull-right visible-xs" ui-toggle="off-screen" target=".app-aside" ui-scroll="app">
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <!-- brand -->
  <a href="#/" class="navbar-brand hidden-xs">
    <img src="../img/logo-compacto.png" alt="Clima Laboral" />
  </a>
  <a href="#/" class="navbar-brand-mobile visible-xs">
    <img src="../img/logo-compacto-alpha.png" alt="Clima Laboral" height="40" />
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
  <!-- navbar left -->
  <ul class="nav navbar-nav hidden-xs" ng-if="loggedIn">
    <li class="dropdown pos-stc" ng-if="user.admin && loggedIn">
      <a href="#/" class="dropdown-toggle" ng-class = "{'selected': url == '/' || url == '/reconocimientos' }">
        <i class="fa fa-folder-open-o"></i>
        <span>Herramientas</span>
      </a>
    </li>
    <li class="dropdown pos-stc" ng-if="!user.admin && loggedIn">
      <a href="#/" class="dropdown-toggle" ng-class = "{'selected': url == '/'}">
        <i class="icon-home fa-fw"></i>
        <span>Mis Proyectos</span>
      </a>
    </li>
    <li class="dropdown pos-stc" ng-if="user.admin && loggedIn">
      <a href="#/scores-1" class="dropdown-toggle" ng-class = "{'selected': url == '/scores-1' || url == '/scores-2' || url == '/scores-3' || url == '/ed-scores-1' || url == '/ed-scores-2'}">
        <i class="fa fa-area-chart"></i>
        <span>Reportes</span>
      </a>
    </li>
    <li class="dropdown pos-stc" ng-if="!user.admin && loggedIn">
      <a href="#/questions/{{user._id}}" class="dropdown-toggle">
        <i class="icon-note fa-fw"></i>
        <span>Cuestionario</span>
      </a>
    </li>
    
    <!-- MENU DE RESULTADOS OCULTO PARA EL USUARIO
    <li class="dropdown pos-stc" ng-if="!user.admin && loggedIn">
      <a href="#/scores/{{user._id}}" class="dropdown-toggle">
        <i class="fa fa-area-chart"></i>
        <span>Resultados</span>
      </a>
    </li>-->

    <li class="dropdown pos-stc" ng-if="user.admin && loggedIn">
      <a href="#/users" class="dropdown-toggle">
        <i class="icon-users fa-fw"></i>
        <span>Usuarios</span>
      </a>
    </li>
    <li class="dropdown pos-stc" ng-if="(user.superadmin || user.admin) && loggedIn">
      <a href="#/companies" class="dropdown-toggle" ng-class = "{'selected': url == '/organigrama' || url == '/competencias' || url == '/areasyroles' || url == '/companies' }">
        <i class="icon-diamond"></i>
        <span>Mi Empresa</span>
      </a>
    </li>
  </ul>
  <!-- /navbar left -->
  

  <!-- navbar right -->
  <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
          <img src="img/user.gif" alt="...">
          <i class="on md b-white bottom"></i>
        </span>
        <span class="hidden-sm">{{user.username}}</span> <b class="caret"></b>
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu animated fadeInRight w">
        <li>
          <a >
            <span>{{user.username}}</span>
          </a>
        </li>
        <li>
          <a href>
            <span>{{user.role}}</span>
          </a>
        </li>
        <li>
          <a href>
            <span>{{user.area}}</span>
          </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown pos-stc">
          <a href="" class="dropdown-toggle" ng-click="doLogout()">
            <i class="icon-logout fa-fw"></i>
            <span>Salir</span>
          </a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
  </ul>
  <!-- / navbar right -->
</div>
<!-- / navbar collapse -->
