
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table">
        <th>Pregunta :</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>

        <tr ng-repeat="score in scores">
          <td>Puntaje Cuestionario numero: {{$index + 1}}</td>
          <td>{{score.scores[0]}}</td>
          <td>{{score.scores[1]}}</td>
          <td>{{score.scores[2]}}</td>
          <td>{{score.scores[3]}}</td>
          <td>{{score.scores[4]}}</td>
          <td>{{score.scores[5]}}</td>
          <td>{{score.scores[6]}}</td>
          <td>{{score.scores[7]}}</td>
          <td>{{score.scores[8]}}</td>
          <td>{{score.scores  [9]}}</td>
        </tr>

      </table>
    </div>
  </div>
