<div class="row col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <h1>Felicimetro</h1>
    <form ng-submit="doLogin()">
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" class="form-control" ng-model="loginData.username"></input>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" ng-model="loginData.password"></input>
      </div>
      <button type="submit" class="btn btn-block btn-primary"><span>Acceder</span></button>
    </form>
  </div>
</div>
