
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"><i class="icon-users fa-fw"></i> Usuarios</h1>
</div>


<div class="wrapper-md">	
	
	<div class="col-md-2 text-center">
		<br>
		<i class="fa fa-bolt fa-5x"></i>
		<br><br>
	</div>

	

	<div class="col-md-10">
		<div class="panel">
			<div class="wrapper-lg">
				<h2 class="m-t-none">Lista importada correctamente</h2>
			  
			  	<p>Se ha importado la lista con éxito. Todas las personas ya pueden ingresar para completar este instrumento: Clima Laboral.
			  	</p>
			  	<h3>Ahora, ¿les enviamos un correo?</h3>
			  	<p>
			  	Queremos ahorrarte el trabajo de avisarles uno a uno, son muchos. Te sugerimos enviar automáticamente un correo electrónico a todas estas personas en el cual les contamos cómo acceder a la plataforma y completar el instrumento.</p>
			
				<br>
				<a href="#/users/list" class="auto">
		        	<button class="btn btn-primary btn-addon btn-lg"><i class="fa fa-paper-plane-o"></i>Sí, enviar correo a todos</button>
		      	</a>

		      	<!-- ESTO SE VE SÓLO SI SE ENVÍAN LOS CORREOS, Y OCULTANDO EL BOTÓN ANTERIOR
		      	<p>
		      		<h3><i class="fa fa-check"></i> ¡Listo! <b>446</b> correos enviados</h3>
		      	</p>-->

				<div class="line line-lg b-b b-light"></div>
				<div class="text-muted">
				  <i class="fa fa-user text-muted"></i> <b>446</b> Personas importadas <br>
				  <i class="fa fa-clock-o text-muted"></i> Feb 15, 2013
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

