
<div class="bg-light lter b-b wrapper-md ng-scope">
  <!-- <span class="text-md text-muted pull-right  text-center">
    <i class="fa fa-star m-r-xs"></i> 3 votos restantes
  </span> -->

  <h1 class="m-n font-thin h3"><i class="icon-graph"></i> Evaluación de Desempeño</h1>
</div>


<!-- CONTENIDO -->




<div class="wrapper-md ng-scope" >
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">


        <div class="panel-heading wrapper b-b b-light">
          <div class="input-group">
            <input type="text" class="input-sm form-control" placeholder="Buscar Teammate">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>


        <div class="list-group">
          <a herf="" class="list-group-item clearfix">
            <span class="pull-left thumb-sm m-r">
              <img src="img/a0.jpg" class="r r-2x" alt="...">
            </span>
            <span class="clear">
              <!-- <span class="pull-right label bg-primary inline m-t-sm">11 puntos</span> -->
              <span>Chris Fox</span>
              <small class="text-muted clear text-ellipsis">Supervisor de Recursos Humanos</small>
            </span>
          </a>
        </div>


        <div class="panel-footer" style="height:50px;">
          <span class="pull-right badge badge-bg m-t-xs">32 restantes</span>
          <!-- <button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button> -->
        </div>
      </div>
    </div>

<!--
    <div class="col-md-4">
      <div ui-jq="nestable" class="dd">
        <ol class="dd-list">

          <li class="dd-item" data-id="2">
            <div class="dd-handle">Item 2 {{holis}}</div>
            <ol class="dd-list">
              <li class="dd-item" data-id="3"><div class="dd-handle">Item 3</div></li>
              <li class="dd-item" data-id="4"><div class="dd-handle">Item 4</div></li>
              <li class="dd-item" data-id="5">
                <div class="dd-handle">Item 5</div>
                <ol class="dd-list">
                  <li class="dd-item" data-id="6"><div class="dd-handle">Item 6</div></li>
                  <li class="dd-item" data-id="7"><div class="dd-handle">Item 7</div></li><div class="dd-placeholder" style="height: 42px;"></div>
                  <li class="dd-item" data-id="8"><div class="dd-handle">Item 8</div></li>
                </ol>
              </li>
              <li class="dd-item" data-id="9"><div class="dd-handle">Item 9</div></li>
            </ol>
          </li>
        </ol>
      </div>
    </div>

    <div class="col-md-4">
      <div ui-jq="nestable" class="dd">
        <ol class="dd-list">

          <li class="dd-item" data-id="2">
            <div class="dd-handle">Item 2</div>
            <ol class="dd-list">
              <li class="dd-item" data-id="3"><div class="dd-handle">Item 3</div></li>
              <li class="dd-item" data-id="4"><div class="dd-handle">Item 4</div></li>
              <li class="dd-item" data-id="5">
                <div class="dd-handle">Item 5</div>
                <ol class="dd-list">
                  <li class="dd-item" data-id="6"><div class="dd-handle">Item 6</div></li>
                  <li class="dd-item" data-id="7"><div class="dd-handle">Item 7</div></li><div class="dd-placeholder" style="height: 42px;"></div>
                  <li class="dd-item" data-id="8"><div class="dd-handle">Item 8</div></li>
                </ol>
              </li>
              <li class="dd-item" data-id="9"><div class="dd-handle">Item 9</div></li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
-->
    <div  class="col-md-4">
      <div ng-nestable ng-model="mdl">
        {{$item.text}}
      </div>
    </div>


  </div>
</div>


<!-- footer -->
<footer id="footer" class="app-footer" role="footer">
  <div class="wrapper b-t bg-light">
    <span class="pull-right">Fostering Talent System</span>
    &copy; 2015
  </div>
</footer>
<!-- / footer -->



</div>
