<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Resultados</h1>
</div>
<div class="jumbotron text-center" ng-show="processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
</div>
<div class="wrapper-md" ng-show="!processing">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          Seleccionar gerencia y areas {{formUser.area}}
        </div>
        <div class="panel-body">
          <form class="form-inline" role="form" ng-submit="calcAll()">
            <div class="form-group">
              <select class="form-control input-lg" name="area" ng-model="formUser.area" ng-options="area for area in areas">
              <option value="">Todas las gerencias</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control input-lg" name="role" ng-model="formUser.role" ng-options="role for role in roles">
                <option value="">Todos los roles</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default btn-lg pull-right">Calcular Estadisticas</button>
          </form>
        </div>
      </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Los 10 Principales Motivadores
        </div>
        <div>
          <h3 ng-if="!vacioMotivadores" class="text-center">No hay datos disponibles para los filtros seleccionados</h3>
          <table ng-if="vacioMotivadores" class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
            <thead>
              <tr>
                  <th data-toggle="true">
                      Persona
                  </th>
                  <th>
                    Gerencia
                  </th>
                  <th data-hide="phone,tablet">
                    Rol
                  </th>
                  <th data-hide="phone,tablet" data-name="Date Of Birth">
                    KPI
                  </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="motivador in dataMotivadores track by $index">
                  <td>{{questionsMotivadores[$index]}}</td>
                  <td><span class="label bg-success" title="Active">{{motivador | number:1}} %</span></td>
                  <td>Sin Datos</td>
                  <td>Sin Datos</td>
                  <td>Sin Datos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
