<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Resultados</h1>
</div>

<div class="wrapper-md">

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Pie</div>
        <div class="panel-body text-center">
          <div ui-jq="sparkline" ui-options="[60,40], {type:'pie', height:154, sliceColors:['#23b7e5','#eaeeea']}" class="sparkline inline">
            <canvas width="154" height="154" style="display: inline-block; width: 154px; height: 154px; vertical-align: top;"></canvas>
          </div>
          <div class="line pull-in"></div>
          <div class="text-xs">
            <i class="fa fa-circle text-info"></i> 60%
            <i class="fa fa-circle text-muted m-l"></i> 40%
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Stacked</div>
        <div class="panel-body">
          <div class="m-b-md">
            <p class="h3 font-thin">Investings</p>
            Avarage investing in last year.
          </div>
          <div class="row m-b">
            <div class="col-xs-6">
              <div ui-jq="sparkline" ui-options="[ [2, 8], [4, 6], [6, 4], [8, 2], [10, 0], [8, 2], [6, 4], [4, 6], [2,8] ], {type:'bar', height:112, barWidth:6, barSpacing:10, stackedBarColor:['#27c24c', '#d7e5e8']}" class="sparkline inline"></div>
            </div>
            <div class="col-xs-6">
              Revenue
              <div class="h3 text-black m-b">4500,00</div>
              Costs
              <div class="h3 text-success">3450,00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
