<div class="bg-light lter b-b wrapper-md ng-scope" style="width:84%;">
  <div class="btn-group pull-right">
    <button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="material-icons md-18">extension</i>Clima Laboral</button>
  </div>
  <h1 class="m-n font-thin h3"><i class="icon-bar-chart"></i> Reportes</h1>
</div>
<div class="jumbotron text-center" ng-show="processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
</div>
<div class="wrapper-md" ng-show="!processing">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          Seleccionar gerencia y areas {{formUser.area}}
        </div>
        <div class="panel-body">
          <form class="form-inline" role="form" ng-submit="calcAll()">
            <div class="form-group">
              <select class="form-control input-lg" name="area" ng-model="formUser.area" ng-options="area for area in areas">
              <option value="">Todas las gerencias</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control input-lg" name="role" ng-model="formUser.role" ng-options="role for role in roles">
                <option value="">Todos los roles</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default btn-lg pull-right">Calcular Estadisticas</button>
          </form>
        </div>
      </div>
  </div>
</div>

  
  <!-- PROMESA AL CLIENTE -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Promesa al Cliente</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataPromesa" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborablePromesa" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- COMPROMISO DEL EMPLEADO -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Compromiso del Empleado</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataCompromiso" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableCompromiso" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- LIDERAZGO ACTIVO -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Liderazgo Activo</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataLiderazgo" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableLiderazgo" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>



<!-- ESTRATEGIA -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Estrategia</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataEstrategia" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableEstrategia" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>



<!-- COMUNICACIÓN -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Comunicación</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataComunicacion" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableComunicacion" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>





<!-- APRENDIZAJE Y DESARROLLO -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Aprendizaje y Desarrollo</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataAprendizaje" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableAprendizaje" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>






<!-- COOPERACIÓN -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Cooperación</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataCooperacion" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableCooperacion" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>




<!-- VIVIR LOS VALORES -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Vivir los Valores</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataVivir" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableVivir" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>



<!-- RESPONSABILIDAD SOCIAL CORPORATIVA -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Responsabilidad Social Corporativa</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataResponsabilidad" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableResponsabilidad" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>



<!-- SEGUIMIENTO DE LA EOS -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Seguimiento de la EOS</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataSeguimiento" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableSeguimiento" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- CONDICIONES LABORALES -->
  <div class="row">

    <!-- TÍTULO -->
    <div class="bg-light lter b-b wrapper-md ng-scope">
      <h1 class="m-n font-bold h3">Condiciones Laborales</h1>
    </div>
    <BR>

    <!-- GRAFICO IZQUIERDA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Distribución de Respuestas</p>
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataCondiciones" labels="labelsCompromiso" legend="true" ng-if="!vacioFavorable"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>

    <!-- GRAFICO DERECHA -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Comparación de Grupos y Evolución en el Tiempo</p>
          </div>
          <div class="sparkline inline">
            <canvas id="bar" class="chart chart-bar" data="faborableCondiciones" labels="labelsFavorable" legend="false" ng-if="!vacioFavorable" style="height:246px"></canvas>
            <h3 ng-if="vacioFavorable">No hay datos disponibles para los filtros seleccionados</h3>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
