<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Resultados</h1>
</div>

<div class="wrapper-md">

  <div class="row">
    <div class="col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Pie</div>
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Compromiso del empleado y sus motivadores</p>
            2014 % Favorable.
          </div>
          <div class="sparkline inline">
            <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels" legend="true"></canvas>
          </div>
          <div class="line pull-in"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Stacked</div>
        <div class="panel-body text-center">
          <div class="m-b-md">
            <p class="h3 font-thin">Compromiso del empleado y sus motivadores</p>
            General.
          </div>
          <div class="row m-b">
            <div class="col-xs-8">
              <div class="sparkline inline">
                <canvas id="bar" class="chart chart-bar" data="data1" labels="labels1" legend="true"></canvas>
              </div>
            </div>
            <div class="col-xs-2">
              Revenue
              <div class="h3 text-black m-b">4500,00</div>
              Costs
              <div class="h3 text-success">3450,00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
