<div class="bg-light lter b-b wrapper-md ng-scope" style="width:84%;">
  <div class="btn-group pull-right">
    <button class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="material-icons md-18">extension</i>Clima Laboral</button>
  </div>
  <h1 class="m-n font-thin h3"><i class="icon-users fa-fw"></i> Usuarios</h1>
</div>
<div class="wrapper-md">
   
  <div class="jumbotron text-center" ng-show="processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
  </div>

  <div class="panel panel-default">
	  <div class="table-responsive">
		  <table class="table table-striped">
			 <thead>
				<tr>
				  <th class="col-md-1">ID</th>
				  <th class="col-md-1">Usuario</th>
				  <th class="col-md-1">Admin</th>
				  <th class="col-md-1">Gerencia</th>
				  <th class="col-md-1">Rol</th>
				  <th class="col-md-1"></th>
				</tr>
			 </thead>
			 <tbody>
				<tr ng-repeat="person in users">
				  <td class="col-md-2">{{person._id}}</td>
				  <td class="col-md-2">{{person.username}}</td>
				  <td class="col-md-2">{{person.admin}}</td>
				  <td class="col-md-2">{{person.area}}</td>
				  <td class="col-md-2">{{person.role}}</td>
				  <td class="col-md-1" nowrap>
				    <a href="#/users/{{person._id}}" class="btn btn-xs btn-icon btn-info"><i class="fa fa-pencil"></i></a>
				    <a href="" ng-click="deleteUser(person)" class="btn btn-xs btn-icon btn-danger"><i class="fa fa-trash"></i></a>
				  </td>
				</tr>
			 </tbody>
		  </table>
		</div>
	</div>


	<div class="row">
      <a href="#/users/add" class="auto">
        <button class="btn m-b-xs btn-sm btn-info btn-addon m-l m-r"><i class="glyphicon glyphicon-plus"></i>Agregar Usuario</button>
      </a>
      <a href="#/users/list" class="auto">
        <button class="btn m-b-xs btn-sm btn-primary btn-addon m-l m-r"><i class="glyphicon glyphicon-th-list"></i>Importar Lista CSV</button>
      </a>
    </div>

</div>
