<div class="modal-header">
    <h3 class="modal-title">¿Estás seguro de {variable}?</h3>
</div>
<div class="modal-body">
    <!-- <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul> -->
    Al hacerlo, quedará registrado y no se podrá deshacer. Los reconocimientos, una vez entregados, no se pueden quitar.
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">No, gracias</button>
    <button class="btn btn-primary" ng-click="ok()">Sí, estoy seguro</button>
</div>